* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}


.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(196, 196, 196);
    overflow: hidden;
    background: url(./backgroundimg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.create-character-panel, .character-screen, .enemy-screen, .battle-screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 20rem;
    height: 30rem;
    margin: 1rem;
    color: rgb(250, 216, 200);
    text-shadow: 2px 2px 4px black;
    border: 2px solid rgb(128, 53, 28);
    border-radius: 5%;
    background-color: rgba(66, 37, 28, 0.4);
    letter-spacing: 1px;
}

button {
    color: rgb(250, 216, 200);
    background-color: rgb(163, 74, 44, 1);
    border-color: rgb(128, 53, 28);
    border-radius: 4px;
    width: 8rem;
    height: 2rem;
    letter-spacing: 1px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.name, .gender, .class, input {
    text-align: center;
}

input {
    background-color: transparent;
    color: white;
    border-radius: 10px;
    outline: none;
    border-color: rgb(128, 53, 28);
}

.character-screen {
    animation-name: moveCharacterPanel;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

.enemy-screen {
    animation-name: showEnemyPanel;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    position: absolute;
    left: 40%;
}

.battle-screen {
    position: absolute;
    left: 40%;
    
}

#dice-roll {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.enemy-name:hover {
    cursor: pointer;
    text-decoration: underline;
}


@keyframes moveCharacterPanel{
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-400px);
    }
}

@keyframes showEnemyPanel{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}


@media (max-width: 1500px) {
    .enemy-screen, .battle-screen {
        left: 50%;
    }
}

@media (max-width: 1300px) {
    .enemy-screen, .battle-screen {
        left: 60%;
    }
}